*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#background{
    
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: -10;
    
}
#imgback{
    opacity: 25%;
    height: 99%;
    width: 100%;
    z-index: -11;
}
#head{
    display: flex;
    justify-content: space-between;
    position:absolute;
    margin-left: 105px;
    top: 20px;

    height: 90px;
    width: 80%;
    z-index: 100;
}
#logo{
    width: 200px;
    height: auto;
    

    
}
#sign{
    background-color: red;
    padding: 7px 10px;
    color: aliceblue   ;
    border-color: red; 
    border-radius: 5px;
    margin-top: 12%;
}
#lang{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border: 1px;
    padding: 5px;
}
#left{
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: 80%;
    justify-content: space-around;
    margin-bottom: 90%;
    
  
}
#sign{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 10px;
    
}
#lang{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 10px;
   
    
    
}
#icon{
    margin-left: 2px;
    color: aliceblue;
    margin-top: 55px;
    

}
#lango{
  
    display: flex;
    
}
#cntr{
    display: flex;
    
    color: aliceblue;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    text-align: center;
    height: 40%;
}
#button{
    margin-bottom: 70px;
}
h2{
    font-size: 70px;
}
#cntr2{
    display: flex;
    
    color: aliceblue;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    text-align: center;
    height: 10%;
    margin-bottom: 30%;
}
h3{
    margin-left: 22%;
    margin-top: 6%;
    font-size: 25px;
    font-weight: 400;
}
#cntr3{
    display: flex;
    
    color: aliceblue;
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    text-align: center;
    height: 10%;
    margin-bottom: 30%;
}
h4{
    margin-left: 6%;
    font-weight: 40;
    font-size: 17px;
    margin-top: 15px;
}
#cntr4{
    
    display: flex;
    color: aliceblue;
    position: absolute;
    top: 86%;
    left: 51%;
    transform: translate(-50%,-50%);
    width: 38%;
    text-align: center;
    height: 15%;
    margin-bottom: 30%;
    display: flex;
    align-items: center;
 
}
#email{
    line-height: 3.5;
    width: 336px;
    height: 48px;
    background-color: rgb(0, 0, 0);
    opacity: 35%;
    border: 2px solid white;
    padding-left: 30px;
    color: aliceblue;
    
    
    
}
input:placeholder-shown {
    padding-left: 20px;
    background-color: aliceblue;
    border-radius: 5px;

  }
  

#btn{
    padding: 10px;
    width: 154px;
    height: 48px;
    border-radius: 4px;
    background-color: red;
    color: aliceblue;
}
input:focus{
    border: 1px solid rgb(223, 3, 3);
}

